*{
    padding: 0;
    margin: 0;
}

ul{
    list-style-type: none;}
.clr{
    clear: both;
}
.home{
    background-image: url(images/drew-coffman-1872.jpg);

height:630px;
background-size: 100% 100%;
}

.navbar img{
    width: 200px;
    padding: 10px 40px;
}
.navbar a{
    float: right;
    padding:30px 15px;
    color:white;
    font-size: 20px;
    text-decoration: none;
}
.welcome {
margin:50px;
padding: 50px;
text-align: center;
color:white;
font-family: "Alegreya Sans";

}
.welcome h1,p{
    margin: 30px;
  
}
.welcome h1{
    font-size:70px;
    margin-top: 50px;
}
.welcome p{
    font-size: 20px;
    line-height: 200%;
}
.welcome button{
    padding: 20px 25px;
  font-size: 15px;
  font-weight: 600;

    margin:10px;
    color:white;
    border-radius: 10px;
    
}
.learnbutton{
    background-color: #8E7754;
    border:none;
}
.contactbutton{
    background: none;
    border: white 3px solid;
}
.who{
    background-color:white;
    float:left;

    width:50%;

    

}
.who p{
    color: gray;
        line-height: 200%;

    
}
.who h2{
    margin:50px 0px 0px 30px;
    font-size: 30px;


}

.cont{
    margin-bottom: 100px;
}
.bread{
    width:40%;
    padding: 20px;
    margin-top: 50px;
    float:left;
  
}
.icon{
    width:65%;
}
.location{
    background-color: #f8f8f8; 
  
}
.locatiobnText{
    width:50%;
    float: left;
    margin-top:50px;
    margin-left:40px;

}
.locatiobnText h2{
    margin:50px 0px 0px 40px;
}
.locatiobnText p{
    color:gray;
    margin-left:40px;
    font-size:15px;
    line-height: 180%;
}
.locationimg{
    width:40%;
    float:left;
    margin-top:50px;
    margin-left:30px;
  
}
.locationimg img {
    width: 100%;
}
.bakingText{
    text-align: center;
    margin-top: 80px;
   
}
.bakingText h2{
    font-size: 30px;
    
    
}
.bakingText p{
    color:gray;
}
.bakingImg{
  
    float: left;
    width:28%;
    margin-left: 35px;
    text-align: center;
}
.bakingImg h3{
    margin-top: 35px;
    font-weight: 100;
   
    
    
}
.bakingImg p{
    color:gray;

    line-height: 200%;
    padding-bottom: 50px;
}
.bakingImg img{
width:100%;
margin:auto;
}
.contact{
    background-color:#f8f8f8; 
  
} 


.contacttext{
    width:50%;
    float:left;
    
    background-color: #f8f8f8; 
}
.contacttext h2{
    margin-top: 100px;
    margin-left:80px;
    font-size:30px;
    font-weight: 100;
  
}
.contacttext p{
    color:gray;
    line-height: 200%;
    margin-left:80px;
}
.contacttext h4{
    margin-left:80px;
    color:gray;
    font-weight: 100;
}
.contacttext img{
    margin-left:50px;
}

.map{
    background-color: #f8f8f8; ;
    float:left;
    width:50%;
   padding-bottom:234px;
   margin-top: 100px;
  
}
.map iframe{
    width:100%;
    height:350px;
}


 .brownbar{
    background-color: #403D38;
    text-align: center; 
}
.question{
    float: left;
    width: 22%;
    margin-left: 20px;
   line-height: 200%;
   color:gray;
   
}
.question a{
    color:gray;
}
.question h3{
    margin: 30px 0px;
    color:white;
    font-weight: 70;

}
.question p{
    font-family: "Alegreya Sans";
    font-size: 16px;
    margin-left: 10px;
  
}

.question li{
    border-bottom: gray solid 0.1px;
    line-height: 300%;
}
/* how make the background opcity??? */
.worldbackground{
    background-image: url('images/contact-details-map.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 60% 70%;
  opacity: 0.7;
  font-weight: 500;
}

.bottombar{
    background-color:#353330;
    text-align:center ;
    
}
.bottombar img{
    margin-top: 50px;
}
.bottombar{
    height:300px;
}
.bottombar p{
    color:gray;
    
}

.bottomBarIcon a{
    color: white;
    font-size: 30px;

   
}
@media screen and (min-width: 600px) {
    .navbar  {
color: yellow;

    }
  }





